@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir-s.p.b2804e31.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 2800px;
  font-family: "vazir", monospace, sans-serif;
}

body {
  font-family: "Tahoma", sans-serif;
}

header > section {
  display: grid;
  grid-template-columns: 2fr 7fr 2fr 2fr;
  border-radius: 12px;
  padding: 15px 1px 15px 5px;
  margin: 20px 10% 10px 10%;
  background-color: #fff;
  box-shadow: 8px 9px 13px 10px rgb(67 9 9 / 10%);
}

.imageHeader img {
  max-width: 120px;
  height: auto;
}
.imageHeader img:hover {
  transform: scale(1.4) rotate(-20deg);
  transition: all 2s;
}

.navHeader {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navHeader li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
  padding-bottom: 5px;
}

.navHeader li a:hover {
  color: #199004;
  border-bottom: 2px solid #00ff2f;
}
.navHeader li:hover {
  transform: scale(1.4);
  transition: all 2s;
}

.phoneNumber {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 98%;
  width: 80%;
}

.phoneNumber p {
  margin: 0;
  color: #333;
  font-size: 16px;
}

.phoneNumber i {
  color: #1e2f42;
}

.leftBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 70%;
}

.headerButton {
  padding: 8px 10px;
  border-radius: 8px;
  color: white;
  border: none;
  height: 95%;
  width: 80%;
  transition: 0.9s;
}

.headerButton:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.slider-main {
  max-width: 75vw;
  height: auto;
  margin: 30px 10% 30px 10%;
  position: relative;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: auto;
  border-radius: 25px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.6s ease,
    visibility 0.5s ease;
}

.slide.active {
  opacity: 1;
  visibility: visible;
}

.slide img {
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 45%;
  transform: translateY(20%);
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px 18px;
  font-size: 20px;
  border-radius: 50%;
  transition: 0.4s;
  z-index: 10;
}

.prev:hover,
.next:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transform: translateX(8px);
}

.prev {
  right: 30px;
}
.next {
  left: 30px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1.6rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: 0.6s;
}

.dot.active {
  background-color: #004d9f;
  width: 25px;
  border-radius: 5px;
}

/* default product */

.defaultProducts {
  max-width: 75vw;
  margin: 3px auto -140px auto;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: transparent;
}
.defaultProductsHeader {
  background-color: transparent;
  display: grid;
  grid-template-columns: 9fr 1fr;
  justify-items: center;
}

.seeAllProducts {
  background: transparent;
  border: 1px solid #777777;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 14px;
  text-wrap: nowrap;
  font-weight: 500;
  color: #444;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  align-items: center;
  gap: 4px;
  margin: 10px auto 20px 0.1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media screen and (max-width: 830px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.productItem {
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
}
.productItem img {
  width: 100%;
  height: 40%;
  object-fit: contain;
}
.productItem span {
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.productItem span > section {
  display: grid;
  grid-template-columns: 6fr 1fr;
}

.circle-arrow {
  background-color: #5ff5a53a;
  color: rgb(0, 100, 9);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
}
/*
.defaultProducts {
  position: relative;
  max-width: 75vw;
  margin: 50px auto;
  padding: 10px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "title title title seeAllp"
    "desc desc desc seeAllp"
    "item1 item2 item3 item4";
}

.defaultProducts h1 {
  grid-area: title;
  text-align: center;
  padding-right: 40%;
}

.defaultProducts > p {
  grid-area: desc;
  text-align: center;
  font-size: 0.9rem;
  padding-bottom: 20px;
  padding-right: 40%;
}
.seeAllProducts {
  grid-area: seeAllp;
  background: transparent;
  border: 2px solid #e0e0e0;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #555;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 41%;
  height: 50%;
  position: absolute;
  left: 0;
}
.seeAllProducts i {
  font-size: 12px;
  color: #555;
}

.defaultProducts > section {
  border-radius: 12px;
  max-height: 30rem;
  box-shadow: 11px 12px 12px 1px rgba(0, 0, 0, 0.08);
  padding: 0.5rem;
}
.defaultProducts > section:hover {
  transform: translate(1rem) scale(1.1);
  transition: all 0.5s;
}

.defaultProducts > section img {
  width: 100%;
  height: 75%;
  background-color: transparent;
  object-fit: contain;
  margin-bottom: 10px;
}

.defaultProducts section > h1 {
  font-size: 18px;
  color: #000000;
  text-align: start;
  padding: 0 3% 3%;
  margin: 0;
}

.defaultProducts > section h5 {
  font-size: 16px;
  color: #4e6072;
  margin: 5px 0 0 0;
  text-align: start;
  font-weight: bold;
  padding-right: 0%;
  margin: 0 0%;
}
*/

/* why we need */

.why {
  background-color: white;
  max-width: 75vw;
  margin: 3vh auto;
  display: grid;
  text-align: center;
  grid-template-rows: auto 1fr;
  box-shadow: 7px 9px 15px 9px rgba(0, 0, 0, 0.05);
}

.why h1 {
  text-align: center;
  position: relative;
  display: inline-block;
}

.why h1::after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 42%;
  width: 10vw;
  height: 3px;
  background-color: green;
}

#reasons {
  background-color: transparent;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media screen and (max-width: 830px) {
  #reasons {
    grid-template-columns: repeat(2, 1fr);
  }
}

.reasonItems {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  text-align: center;
}
.reasonItems > div > p {
  font-size: small;
}
.rect-arrow {
  width: 70px;
  height: 70px;
  background-color: #8cf1b9;
  color: rgb(12, 0, 49);
  border-radius: 12px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
}
.rect-arrow i {
  font-size: x-large;
}

/* gallery pic */

.galleryPictures {
  background-color: transparent;
  margin: 3vh auto;
  max-width: 75vw;
  display: grid;
  grid-template-rows: auto auto;
}

.galleryDetails {
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: end;
}
.galleryDetails h1 {
  background-color: transparent;
  font-weight: bold;
  color: #333;
  text-align: left;
  position: relative;
  display: inline-block;
}

.galleryDetails h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color: green;
  border-radius: 2px;
}

.seeAllPic {
  background: transparent;
  border: 1px solid #777777;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  align-items: center;
  gap: 4px;
  margin: 10px auto 20px 0.1rem;
}
.seeAllPic i {
  font-size: 12px;
  color: #444;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.2vw;
}
.galleryImages {
  box-shadow: 5px 1px 13px 2px rgb(67 9 9 / 10%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* footer */

.foot1 {
  background: #dbfeff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.5% 0;
}
.foot2 {
  background: rgb(0, 0, 55);
  color: #e0e0e0;
  text-align: center;
  padding: 1% 0;
  width: 100vw;
}
.fastAccess {
  text-indent: 18%;
  list-style-position: inside;
  line-height: 2.4rem;
  display: grid;
  grid-template-rows: repeat(2, auto);
  margin: 0;
  padding: 0;
}
.fastAccess a {
  text-decoration: none;
  color: #1e2f42;
}
.fastAccess p {
  font-weight: bold;
  font-size: 1.5rem;
  align-content: center;
  color: #1e2f42;
  text-align: start;
  background-color: transparent;
  margin: 0;
}

.mainFooter {
  display: grid;
  justify-items: center;
  align-content: space-between;
}
.mainFooter span {
  text-align: center;
  font-weight: bold;
  margin: -9vh;
}
div .circle-arrow-footer {
  border-radius: 100%;
  width: 70%;
  height: 165%;
  color: white;
  background-color: rgb(24, 2, 193);
  text-align: center;
  align-content: center;
}
.brands > div:first-child {
  background-color: rgb(4, 171, 4);
}
.brands {
  margin: -7vh;
  display: grid;
  width: 180px;
  height: 70px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 5vh;
}

.callDetailsItems {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2vw;
}
