@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir-s.p.b2804e31.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "vazir", monospace, sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  background-color: rgba(231, 231, 231, 0.551) !important;
}

/* header */

.header {
  display: grid;
  position: fixed;
  background-color: #ffffff7d;
  backdrop-filter: blur(50px);
  z-index: 100;
  top: 10px;
  grid-template-areas: "headImg headNav headNav headNav  leftSide";
  justify-content: space-between;
  align-items: stretch;
  border-radius: 12px;
  box-shadow: 2px 6px 12px 7px rgba(67, 9, 9, 0.068);
  width: 76vw;
  height: 10vh;
  margin: 30px 12% 30px 12%;
}

@media screen and (max-width: 850px) {
  .header {
    display: grid;
    grid-template-areas: "headImg";
  }
  .imageHeader {
    animation: slideOnce 4s cubic-bezier(1, -0.72, 0.06, 1.32) forwards;
  }
  @keyframes slideOnce {
    0% {
      transform: translate(0) scale(0.8);
    }
    100% {
      transform: translate(-30vw) scale(2);
    }
  }
  .leftSide {
    visibility: hidden;
  }
}
@media screen and (max-width: 1100px) {
  .header {
    grid-template-areas: "headImg  leftSide";
  }
  .navHeader {
    visibility: hidden;
  }
}

.imageHeader {
  grid-area: headImg;
  background-color: transparent;
  max-width: 12vw;
  max-height: 10vh;
  align-content: stretch;
}
.imageHeader img {
  background-color: transparent;
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}

.imageHeader img:hover {
  transform: scale(1.2) rotate(20deg);
  transition: all 2s;
}

.navHeader {
  grid-area: headNav;
  display: flex;
  list-style: none;
  margin: -1vh -4vw;
  height: 10vh;
  width: 25vw;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  text-decoration: dotted;
}

.navHeader a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navHeader li a:hover {
  color: rgb(0, 147, 0);
  background-image: radial-gradient(
    circle at center,
    rgb(0, 147, 0) 3px,
    transparent 5px
  );
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 8px 8px;
  padding-bottom: 12px;
}
.leftSide {
  grid-area: leftSide;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.phoneNumber {
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: baseline;
  grid-template-columns: 1fr 1fr;
  height: 10vh;
  gap: 0;
}
.phoneNumber p {
  justify-self: center;
  text-wrap: nowrap;
  margin-top: 20%;
}
.phoneNumber i {
  width: 50px;
}
.leftBtn {
  position: relative;
}
.leftBtn :hover {
  transform: translate(10px, -10px);
  transition: 2s;
}
.headerButton {
  height: 10vh;
  position: absolute;
  left: 30px;
  background-color: rgb(33, 33, 247);
  color: white;
  border-radius: 10px;
  width: 86%;
  height: 58%;
  margin-top: 9%;
}

/* slider */

.slider-main {
  max-width: 75vw;
  height: auto;
  margin: 30px auto 30px auto;
  position: relative;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: auto;
  border-radius: 24px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition:
    opacity 0.6s ease,
    visibility 0.5s ease;
}

.slide.active {
  opacity: 5;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.prev,
.next {
  position: absolute;
  top: 40%;
  transform: translateY(12%);
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px 18px;
  font-size: 20px;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 10;
}

.prev:hover,
.next:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transform: translateX(12px);
}

.prev {
  right: 20px;
}
.next {
  left: 20px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1.8rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: 0.6s;
}

.dot.active {
  background-color: #2aa900 !important;
  width: 15px;
  border-radius: 5px;
}

/* default product */

.defaultProducts {
  max-width: 75vw;
  margin: 60px auto 10px auto;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: transparent;
}
.defaultProductsHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.defaultProductsHeader span {
  grid-column: 2 / span 1;
}

.seeAllProducts {
  background: transparent;
  border: 1px solid #777777;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 14px;
  text-wrap: nowrap;
  font-weight: 500;
  color: #444;
  background-color: #f7f5f588;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  align-items: center;
  gap: 4px;
  margin: 10px auto 20px 0.1rem;
  height: 5vh;
}

.defaultProductsHeader span {
  text-wrap: nowrap;
  text-align: center;
}

.products {
  display: grid;
  background-color: transparent;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.productItem {
  grid-template-rows: auto auto;
  padding: 3px 5px 0;
  height: 80%;
  margin: 10px 0;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.productItem img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  background-color: rgba(240, 240, 240, 0.933);
  border-radius: 10px;
}
.productItem span {
  display: grid;
  grid-template-rows: 1fr 3fr;
  text-wrap: nowrap;
  height: 10%;
}
.productItem span > section {
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
}
.productItem h6 {
  align-self: center;
  margin: 0;
}
.circle-arrow {
  background-color: #5ff5a53a;
  color: rgb(0, 100, 9);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
}
@media screen and (max-width: 830px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 15px;
  }
  .defaultProductsHeader span p {
    visibility: hidden;
  }

  .productItem {
    min-height: 85%;
    row-gap: 0;
  }

  .productItem img {
    height: auto;
    max-height: 120px;
  }

  .productItem span > section {
    grid-template-columns: 1fr 40px;
    gap: 10px;
  }

  .circle-arrow {
    height: 35px;
    width: 35px;
    margin-bottom: 0;
  }

  .productItem h4,
  .productItem h6 {
    font-size: 14px;
  }
}
/* why we need */

.why {
  max-width: 75vw;
  margin: auto 12% auto 12%;
  display: grid;
  text-align: center;
  grid-template-rows: auto 1fr;
  box-shadow: 7px 9px 15px 9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  background-color: rgba(248, 241, 241, 0.515);
  padding-top: 30px;
}

.why h1 {
  text-align: center;
  position: relative;
  display: inline-block;
}

.why h1::after {
  content: "";
  position: absolute;
  bottom: -8px;
  right: 42%;
  width: 10vw;
  height: 3px;
  background-color: green;
}

#reasons {
  background-color: transparent;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.reasonItems {
  height: 12vh;
  background-color: transparent;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  text-align: center;
  border-radius: 20px;
  margin: 10px;
}
.reasonItems > div > p {
  font-size: small;
  text-wrap: wrap;
}
.reasonItems > div > h4 {
  text-wrap: nowrap;
}
.rect-arrow {
  width: 60px;
  height: 60px;
  background-color: hsla(0, 0%, 82%, 0.248);
  color: rgb(12, 0, 49);
  border-radius: 12px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  margin: 0;
}
.rect-arrow {
  font-size: x-large;
  color: green;
}

@media screen and (max-width: 1330px) {
  #reasons {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 970px) {
  #reasons {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* gallery pic */

.galleryPictures {
  background-color: transparent;
  margin: 3vh auto;
  max-width: 75vw;
  display: grid;
  grid-template-rows: auto auto;
}

.galleryDetails {
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: end;
}
.galleryDetails h1 {
  background-color: transparent;
  font-weight: bold;
  color: #333;
  text-wrap: nowrap;
  text-align: left;
  position: relative;
  display: inline-block;
  grid-column: 2 / span 1;
  justify-self: center;
}

.galleryDetails h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color: green;
  border-radius: 2px;
}

.seeAllPic {
  background: transparent;
  border: 1px solid #777777;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  width: auto;
  color: #444;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  align-items: center;
  gap: 4px;
  margin: 10px auto 20px 0.1rem;
  text-wrap: nowrap;
}
.seeAllPic i {
  font-size: 12px;
  color: #444;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.2vw;
}

.galleryImages {
  box-shadow: 5px 1px 13px 2px rgb(67 9 9 / 10%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
}

@media screen and (max-width: 1030px) {
  .pictures {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 830px) {
  .pictures {
    grid-template-columns: repeat(2, 1fr);
  }
  .seeAllPic {
    visibility: hidden;
  }
}
/* footer */

.foot1 {
  background: #f0feffcb;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3.5% 0;
}
.foot2 {
  background: rgb(0, 0, 55);
  color: #e0e0e0;
  text-align: center;
  padding: 1% 0;
  width: 100vw;
}
.fastAccess {
  text-indent: 18%;
  list-style-position: inside;
  line-height: 2.4rem;
  display: grid;
  grid-template-rows: repeat(2, auto);
  margin: 0;
  padding: 0;
}
.fastAccess a {
  text-decoration: none;
  color: #1e2f42;
}
.fastAccess p {
  font-weight: bold;
  font-size: 1.5rem;
  align-content: center;
  color: #1e2f42;
  text-align: start;
  background-color: transparent;
  margin: 0;
}

.mainFooter {
  display: grid;
  justify-items: center;
  align-content: space-between;
}
.mainFooter span {
  text-align: center;
  font-weight: bold;
  margin: -9vh;
}
div .circle-arrow-footer {
  border-radius: 100%;
  width: 70%;
  height: 165%;
  color: white;
  background-color: rgb(24, 2, 193);
  text-align: center;
  align-content: center;
}
.brands > div:first-child {
  background-color: rgb(4, 171, 4);
}
.brands {
  margin: -7vh;
  display: grid;
  width: 180px;
  height: 70px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 5vh;
}

.callDetailsItems {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2vw;
}

@media screen and (max-width: 830px) {
  .mainFooter {
    display: none;
  }
  .foot1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
